<div class="container" id="controls">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1>
        Angular + Webpack = NgPack
      </h1>

      <p>
        {{vm.welcomeMessage}}
      </p>
    </div>
  </div>
</div>
