<style>
    .apnaul {
        margin: 9px 0 0 0;
    }

    .apni {
        font-size: 14px;
        cursor: pointer;
        font-family: inherit;
        margin-bottom: 9px;
        padding-left: 19px;
        padding-bottom: 7px;
    }
    .chP_sty {
        border: 2px solid;
        width: 182px;
        height: 31px;
    }

        .apni:hover {
            color: #000;
        }

    .fpopup .feedBackPop, .fpopup .eventDetailPop {
        background: #fff;
    }

    .fpopup .popInner {
        margin: 40px auto 0;
        position: relative;
        width: 85%;
    }
    .fpopup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    background: rgba(0,0,0,0.7);
}
    .fpopup{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;z-index:100;background:rgba(0,0,0,0.7)}.fpopup .fpopup1{z-index:100}.fpopup .fpopup2{z-index:120}.fpopup .fpopup3{z-index:140}.fpopup .fpopup4{z-index:160}.fpopup .popupNavigation{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}.fpopup .popupNavigation .md-button{position:absolute;height:51px}.fpopup .popupNavigation .md-button.closeButton{right:20px;top:20px}.fpopup .popupNavigation .md-button.nextButton{right:20px;top:0;bottom:0;margin:auto}.fpopup .popupNavigation .md-button.prevButton{left:20px;top:0;bottom:0;margin:auto}.fpopup .popupNavigation .md-button.disabled md-icon{color:#6f7d8a}.fpopup .popupNavigation .md-button md-icon{color:#fff;font-size:50px;line-height:51px;margin:0;padding:0}.fpopup .popInner{margin:40px auto 0;position:relative;width:85%}.fpopup .saveButton,.fpopup .deleteButton{position:absolute;right:-21px;top:30px;background:#f0f0f0;border-radius:50%;width:42px;height:42px;text-align:center;border:3px solid #b6bdc5;z-index:9;box-shadow:1px 1px 1px #b8b8ba}.fpopup .saveButton:hover,.fpopup .deleteButton:hover{background:#fff}.fpopup .saveButton md-icon,.fpopup .deleteButton md-icon{color:#b6bdc5;font-size:28px;line-height:29px;margin:0;padding:0}.fpopup .saveButton.done{border-color:#fff;background:#7fdab7}.fpopup .saveButton.done md-icon{color:#fff}.fpopup .deleteButton{top:80px;border-color:#fff;background:#fc6068}.fpopup .deleteButton:hover{background:#fc6068}.fpopup .deleteButton md-icon{color:#fff;font-size:20px;line-height:21px;margin:0;padding:0}
    .changepasswordpopup .newsDetail2 {
        background: #fff !important;
    }
    header nav ul li a:hover, header nav ul li a.active {
    color: #980006;
    font-size: 14px;
}
    header nav ul li a {
    color: #b10000 !important;
    font-weight: bold !important;
}
</style>
<noscript><div id="jqcheck"><i></i></div></noscript>
<div class="wrap">

    <header class="header" style="background:#e2e6dd;">
        <div class="row">
            <div class="container-fluid">
                <!--<div class="col-md-2">
                    <a href="index.html" title="" class="logo"><img src="../../assets/images/logo.png"></a>
                </div>-->
                <div class="col-md-7" style="width:100% !important;">
                    <navbar menu-items="vm.menuItems" currentTab="vm.CurrentTab"></navbar>
                    <!--<nav>
                        <ul>
                            <li><a href="index.html" title="" class="active">Pending</a></li>
                            <li><a href="scheduled.html" title="">Scheduled</a></li>
                        </ul>
                    </nav>-->
                </div>
                <!--<div class="col-md-3" userinfo ng-click="vm.showScrollPop()">-->
                    <!--<div class="col-md-3" userinfo ng-click="vm.logout()">-->
                    <!--ng-click="vm.logout()">-->
                    <!--<div class="profileView" ng-click="vm.logout()">
                        <h3>Scarlett Markachanda</h3>
                        <figure data-imgsrc="assets/images/zubaidaaunty.png"></figure>
                        <i class="x-angle-down"></i>
                    </div>-->
                    <!--<md-menu class="dpmenu rfl" md-position-mode="target-right bottom">
                        <md-button aria-label="Channel" ng-click="$mdOpenMenu($event)">
                            <div class="profileView">
                                <h3>Scarlett Markachanda</h3>
                                <figure data-imgsrc="../../assets/images/zubaidaaunty.png"></figure>
                                <i class="x-angle-down x-expand_more"></i>
                            </div>
                        </md-button>
                        <md-menu-content class="dpmenu-drop">
                            <div class="scrollDv">
                                <md-menu-item ng-click="vm.logout()">
                                    <md-button class="active">
                                        <figure><img src="../../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                                        <span>Logout</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-click="vm.changePassword()">
                                    <md-button class="active">
                                        <figure><img src="../../assets/images/dp.jpg" width="30" height="30" alt="dp"></figure>
                                        <span>Change Password</span>
                                    </md-button>
                                </md-menu-item>
                            </div>
                        </md-menu-content>
                    </md-menu>-->
                <!--</div>-->
            </div>
        </div>
    </header>

    <div class="ssspop" style="display:none; position: absolute;width: 161px;height: 81px;top: 54px;border: 3px solid #ddd;right: 6px;background: #fff;z-index: 1;">
        <ul class="apnaul">
            <li style="border-bottom: 1px solid #ddd;" class="apni" ng-click="vm.logout()">Logout</li>
            <li class="apni" ng-click="vm.changePassword()">Change Password</li>
        </ul>
    </div>




    <div class="fpopup fpopup1 pass_popup" style="display:none;">
        <div class="popupNavigation">
            <div type="button" class="closeButton" style="float: right;font-size: 24px;background: #000;color: #fff;margin: 112px 388px 0 0px;width: 35px;height: 35px;-webkit-border-radius: 54px;border-radius: 54px;border: 3px solid #fff;" ng-click="vm.closePasswordPopup()">
                <icon class="x-close" style="margin: 0px 0 0px 2px;"></icon>
            </div>
        </div>
        <div class="feedBackPop popInner" style="width:40%;margin-top: 150px;height: 28%;z-index:1;">
            <div class="dtbl">
                <div class="dtd leftSide single">
                    <div class="changepasswordpopup newsDetail2" style="background:#fff !important;">
                        <section>
                            <style>
                                .changepasswordpopup.newsDetail2 > section .detailtype2 {
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    margin-top: -1px;
                                }

                                    .changepasswordpopup.newsDetail2 > section .detailtype2 div {
                                        padding: 10px 10px 5px;
                                        font-size: 12px;
                                        width: 150px;
                                    }

                                        .changepasswordpopup.newsDetail2 > section .detailtype2 div + div {
                                            width: auto;
                                        }
                            </style>

                            <div layout="row" class="detailtype2">
                                <div>Current Password:</div>
                                <div>
                                    <input class="chP_sty" type="password" ng-model="vm.currentPass">
                                </div>
                            </div>
                            <div layout="row" class="detailtype2">
                                <div>New Password:</div>
                                <div>
                                    <input class="chP_sty" type="password" ng-model="vm.newPass">
                                </div>
                            </div>
                            <div layout="row" class="detailtype2">
                                <div>Confirm Password:</div>
                                <div>
                                    <input class="chP_sty" type="password" ng-model="vm.confrmPass">
                                </div>
                            </div>
                            <div layout="row" class="detailtype2">

                                <div>
                                    <button class="reportButton" ng-click="vm.submitPassword()"><span>Submit</span><icon class="x-send"></icon></button>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
        <script>
            customScroll('.feedBackPop .scrollDv');
        </script>
    </div>




    <div class="spacingRow"></div>
    <div ui-view="content"></div>
    <!--<script src="assets/js/jquery.js"></script>-->
    <script src="assets/js/external.js"></script>
    <script src="assets/js/functions.js"></script>
    <!--</div>-->
</div>