<div class="popupNavigation">
    <md-button class="closeButton" ng-click="$parent.template.pop1 = ''">
        <md-icon class="x-close"></md-icon>
    </md-button>

    <md-button class="nextButton">
        <md-icon class="x-navigate_next"></md-icon>
    </md-button>

    <md-button class="prevButton disabled">
        <md-icon class="x-navigate_before"></md-icon>
    </md-button>
</div>
<div class="feedBackPop popInner">
    <md-button class="saveButton done">
        <md-icon class="x-check"></md-icon>
    </md-button>

    <md-button class="deleteButton">
        <md-icon class="x-dust-bin2"></md-icon>
    </md-button>
     asdf asdfasdf asd fasf

</div>

