﻿
<style>
    .fpopup {
        z-index: 99999 !important;
    }
    .btn_head {
        margin: -17px 0 14px 0;
        width: 50%;
        height: 76px;
        background: #fff;
        position: fixed;
        z-index: 99999;
            background: none !important;
    margin-top: -85px;
    left: 52%;
    }

    }
    /* DivTable.com */
    .divTable {
        display: table;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        border: 1px solid #e6e6e6;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    .overlayy {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(144, 144, 144, 0.38);
        /*background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;*/
        z-index: 9999;
        color: white;
    }

    .loader {
        margin: 250px 0 0 588px;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #9fd55c; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .selfie-image {
        width: 220px;
        height: 220px;
    }

    .divTableBody {
        color: black;
        font-size: 20px;
    }

    .view_detail {
        cursor: pointer;
    }

    /*.imge_div {
        width: 55%;
    }*/

    .li_detail {
        width: 20%;
        height: 173px;
        float: left;
        padding: 5px;
    }

    .selfie-image1 {
        width: 100% !important;
        height: 100% !important;
    }

    .editorBox {
        overflow-y: scroll;
        height: 1000px;
    }

    .feedBackPop {
        height: 630px;
        overflow-y: scroll;
    }

    body {
        overflow: hidden !important;
    }

    .daterangepicker.dropdown-menu {
        position: fixed;
        z-index: 99999;
    }
    .usersCount {
         position: absolute;
    top: 58px;
    font-size: 20px;
    left: 52%;
    color: red;
    }
</style>
<div class="btn_head">
    <news-date style="float:right;margin:30px 20px 0 0;" class="dateCtrl" range="true" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>
    <select style="width: 200px;height: 33px;font-size: 12px !important;float: right;margin: 30px 23px 0 0;"
            ng-init="vm.FilterType = vm.socialmediaOptions[0].value"
            ng-model="vm.FilterType"
            ng-change="vm.SocialMediaSelection(vm.FilterType)"
            ng-options="option.value as option.name for option in vm.socialmediaOptions"></select>
    <span class="usersCount">Total Users : {{vm.OgList.length}}</span>
</div>
<div class="editorBox">
    <!--disableCol-->
    <center>
    <div class="dtbl" style="background:#fff;width: 81% !important;">
        <div class="divTable ScrollCss" style="margin: 62px 0 0 0;position: relative;height: 631px;width:100%; display: inline-block;overflow-y: scroll;top: -62px;">
            <!--<div class="divTableHead" style="background:#9fd55c;">-->
                <div class="divTableRow" style="background: #9fd55c;height: 38px;font-size: 17px;color: #fff;width: 100%;">
                    <div class="divTableCell" style="width:5%">#</div>
                    <div class="divTableCell" style="width:14%">Name</div>
                    <div class="divTableCell" style="width:16%">Selfie</div>
                    <div class="divTableCell" style="width:9%">Social Media Type</div>
                    <div class="divTableCell" style="width:8%">Selfie Count</div>
                </div>
            <!--</div>-->
            <div class="divTableBody BodyScroll">
                <div class="divTableRow" ng-repeat="x in vm.selfies_Users">
                    <div class="divTableCell">{{$index + 1}}-</div>
                    <div class="divTableCell">{{x.item.name}}</div>
                    <div class="divTableCell imge_div"><img class="selfie-image" ng-src="http://{{x.item.bolSelfieUrl}}" onerror="this.src = '../../assets/images/noimg.jpg'" /></div>
                   
                     <div class="divTableCell">{{x.item.mediaSourceName || x.item.contactNo}}</div>
                    <div class="divTableCell">
                        <a class="view_detail" ng-click="vm.showDetail(x.item)">View Selfies</a>
                        <span>Count: {{x.count}}</span>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div ng-if="!vm.Loader && vm.selfies_Users.length < 1">
            <p style="margin:0;z-index:99999999; ">No Record Exist</p>
        </div>

        <!--<div class="dtbl" style="background:#fff;width: 100% !important;" ng-show="vm.IsLoaded">
            <div class="divTable" style="margin: 62px 0 0 0;">
                <div class="divTableRow" style="background:#9fd55c;height: 38px;font-size: 17px;color: #fff;width:100% !important;">
                    <div class="divTableCell">#</div>
                    <div class="divTableCell">Name</div>
                    <div class="divTableCell">Selfie</div>
                    <div class="divTableCell">Social Media Type</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableBody">
                    <p>No Record.</p>
                </div>
            </div>
        </div>-->
        </center>
    <div class="fpopup fpopup1 pass_popup1" style="display:none;">
        <div class="popupNavigation">
            <button style="float: right;margin: 7px 60px 0 0;background: #000;width: 40px;height: 40px;border-radius: 28px;font-weight: bold;right: 2px;font-size: 20px;color: #fff;" ng-click="vm.closeIframe()">
                <icon>x</icon>
            </button>
        </div>
        <div class="feedBackPop popInner" style="height: 90%;">
            <div class="dtbl" style="height:100%">
                <ul>
                    <li class="li_detail" ng-repeat="x in vm.selfiesOfUser"><img class="selfie-image1" ng-src="http://{{x.bolSelfieUrl}}"onerror="this.src = '../../assets/images/noimg.jpg'" /></li>
                </ul>
            </div>
        </div>
        <script>
            customScroll('.feedBackPop .scrollDv');
        </script>
    </div>
</div>
<div ng-show="vm.Loader == true" class="overlayy" style="z-index:999999;">
    <div class="loader"></div>
</div>
