<style type="text/css">
    .txt_title{
           font-size: 13px !important;
    }
       .c_pass{

display:none !important;
       }
    ._total {
            position: absolute;
    width: 200px;
    left: 42%;
    text-align: center;
    font-size: 22px;
    }
    .statusTypes {
            position: absolute;
       width: 400px;
    left: 36%;
    text-align: center;
    font-size: 22px;
    top: 130px;
    }
        .statusTypes ul li {
                float: left;
    padding-right: 30px;
        }
    .socialmediaTypes {
            position: absolute;
    width: 600px;
       left: 32%;
    text-align: center;
    font-size: 22px;
    top: 253px;
}
        .socialmediaTypes ul li {
                float: left;
    padding-right: 30px;
        }

</style>
<style type="text/css">
    .overlayy {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(144, 144, 144, 0.38);
        /*background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;*/
        z-index: 9999;
        color: white;
    }

    .loader {
        margin: 250px 0 0 588px;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #9fd55c; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .addepisode {
        cursor: pointer;
    }

    .noData {
        display: none;
        padding: 20px 0 0 0;
        font-size: 16px;
        height: 400px;
    }

    .reportHeader {
        background: #808080;
        width: 100%;
    }

        .reportHeader p {
            display: inline;
        }

    .divTable {
        display: table;
        width: 100%;
        background: #fff;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    .headercss {
        text-transform: uppercase;
        background: #697fa0;
        color: white;
        text-align: center;
        font-size: initial;
        font-family: -webkit-body;
    }

    .childCss {
        text-align: center;
        font-size: larger;
    }

    .reportFilter {
        float: right;
        width: 202px;
        height: 30px;
        border: 1px solid #eaeaeb;
        margin-bottom: 22px;
        background: #fff;
    }

        .reportFilter input {
            margin: 9px 0 0 13px;
            color: #808080;
        }

    .form-control.date-picker {
        border: none;
    }

    .daterangepicker.dropdown-menu {
        max-width: none;
        z-index: 3000;
        right: 21px !important;
    }

    .is_red {
        background: rgba(255, 0, 0, 0.33);
        color: #fff;
    }

    .is_green {
        background: #b6ff00;
    }

    .is_yellow {
        background: #ffd800;
        color: #fff;
    }

    .impo {
        font-weight: 600;
        color: black;
        margin: 0 !important;
    }


    .calendar.left {
        float: left;
        padding-right: 24px;
    }

    .calendar.right {
        float: left;
    }

    .daterangepicker {
        right: 27.188px !important;
        top: 99.5px !important;
    }

    .figure.img {
        height: 153%;
    }

    .dataList > li ul li.alternate span {
        margin: 0px;
    }

    .dataList > li ul li {
        max-width: inherit;
    }

    .daterangepicker {
        /*width: 406px;
        height: 443px;*/
        right: 700.188px !important;
    }

        .daterangepicker .ranges > ul {
            width: 200px;
            float: right;
        }

    date-range-pick .date-picker, date-single-pick .date-picker, .topBar .dateCtrl .date-picker {
        width: 102% !important;
    }
</style>

<style>
    .verify-selfie-main {
        width: 100%;
    }

    .selfie-box {
        margin: 0 0 10px 9px;
        padding: 0;
        float: left;
        width: 260px;
        height: 185px;
        border: #000 1px solid;
        float: left;
        display: inline;
    }

    .selfie-image {
        width: 100%;
        height: 184.5px;
    }

    .verify-icon {
        position: absolute;
        cursor: pointer;
    }

    .btn_head {
        margin: -17px 0 14px 0;
        width: 27%;
        height: 76px;
        position: fixed;
        z-index: 99999;
        top: 0px;
        left: 70%;
    }

    .verify_button {
        margin: 14px 10px 0 7px;
        width: 130px;
        height: 33px;
        background: rgba(0,0,0,.71);
        color: #fff;
        border: none;
        margin-top: 25px;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: -98px;
    }

    .main_body_selfies {
        padding-top: 10px !important;
    }

    .daterangepicker td.in-range {
        background: #94c6f2 !important;
    }

    .daterangepicker td.end-date {
        background-color: #357ebd !important;
        border-color: #3071a9 !important;
        color: #fff !important;
    }

    .daterangepicker.dropdown-menu {
        position: fixed;
        top: 44px !important;
    }

    .user_dt {
        margin-top: -21px;
        position: absolute;
        width: 17.512%;
        color: black;
        /* background: #c5c2c2; */
        /* opacity: 1000000000000000; */
        background: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        text-transform: uppercase;
    }

    .social_mediaIcon {
        float: right;
        padding-right: 4px;
    }
</style>
<div class="btn_head">
    <news-date class="dateCtrl" range="true" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>
</div>
<div class="progMngr">
    <div>

        <div class="_total">TOTAL</div>
        <div class="statusTypes">
            <ul>
                <li><span>VERIFIED</span></li>
                <li><span>REJECTED</span></li>
                <li><span>PENDING</span></li>
            </ul>
        </div>

        <div class="socialmediaTypes">
            <ul>
                <li><span>WHATSAPP</span></li>
                <li><span>TWITTER</span></li>
                <li><span>FACEBOOK</span></li>
                <li><span>EMAIL</span></li>
            </ul>
        </div>
    </div>

</div>

