<style>
    .divTable {
        display: table;
        width: 60%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell,
    .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    .div_main {
        width: 600px;
        border: 1px dashed grey;
        display: inline-flex;
        margin-left: 1px;
        margin-bottom: 0px;
        margin-top: 15px;
        margin-left: 35px;
        background: #ecefeb;
    }

    .date_picker {
        margin-left: 1079px !important;
        margin-top: -52px;
        position: absolute;
        z-index: 99999999999;
    }
</style>
<div class="container">
    <div class="form-group date_picker" style="margin-left: 899px;">
        <news-date class="dateCtrl" range="true" on-date-select="vm.onDateRangeChange(startDate, endDate)"></news-date>
    </div>


    <div style="border:1px solid #e3e3e3; padding:1%; background-color:white; margin-bottom:15px;">
        <div class="div_main" ng-repeat="WhatsAppData in vm.WhatsAppData">
            <div class="leftPart" style="width:200px;" ng-hide="WhatsAppData.myVar">
                <img src="../../images/whatsapplogo.png" alt="image" style="width: 60px;height: 70px;padding: 3px;box-shadow: 1px 1px 1px #d6d2d2;background: #fff !important;">
                <div class="form-group" style="float:right;margin-top:10px;">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.hide(WhatsAppData)">Edit</button>

                </div>
                <ul class="list-group" style="font-size:100%; margin-left:10px; margin-top:10px;">
                    <li class="list-group-item" style="text-align:left;">
                        <div>

                            <b> Name: {{WhatsAppData.name}} </b>
                        </div>
                    </li>

                    <li class="list-group-item" style="text-align:left;">
                        <div>
                            <b> Contact: {{WhatsAppData.name}} </b>
                        </div>
                    </li>

                </ul>
            </div>


      <div class="leftPart" style="width:200px; " ng-show="WhatsAppData.myVar">
        <div class="form-group" style="padding:10px;">
          <div class="form-group">
            <input type="text" ng-model="WhatsAppData.detail.Name" class="form-control" placeholder="Enter Name">
          </div>
          <div class="form-group">
              <input type="number" ng-model="WhatsAppData.detail.Age" class="form-control" placeholder="Enter Age">
          </div>
          <div class="form-group">
              <input type="text" ng-model="WhatsAppData.detail.Gender" class="form-control" placeholder="Enter Gender">
          </div>
          <div class="form-group">
            <input type="text" ng-model="WhatsAppData.detail.Address" class="form-control" placeholder="Enter Address">
          </div>
          <div class="form-group">
              <input type="text" ng-model="WhatsAppData.detail.Area" class="form-control" placeholder="Enter Area">
          </div>
          <div class="form-group">
              <input type="text" ng-model="WhatsAppData.detail.City" class="form-control" placeholder="Enter City">
          </div>
           <div class="form-group">
               <input type="text" ng-model="WhatsAppData.detail.Country" class="form-control" placeholder="Enter Country">
           </div>
            <div class="form-group">
                <input type="text" ng-model="WhatsAppData.detail.Education" class="form-control" placeholder="Enter Education">
            </div>
            <div class="form-group">
                <input type="text" ng-model="WhatsAppData.detail.Occupation" class="form-control" placeholder="Enter Occupation">
            </div>
            <div class="form-group">
                <input type="number" ng-model="WhatsAppData.detail.Number" class="form-control" placeholder="Enter Number">
            </div>
          <div class="form-group">
              <input type="text" ng-model="WhatsAppData.detail.Email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <input type="text" ng-model="WhatsAppData.detail.fbProfile" class="form-control" placeholder="FB Profile">
          </div>
          <div class="form-group">
            <input type="text" ng-model="WhatsAppData.detail.twitterProfile" class="form-control" placeholder="Twitter Profile">
          </div>

          <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.PostEditForm(WhatsAppData.detail,WhatsAppData.name)">Submit</button>
          <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.hideForm(WhatsAppData)">Back</button>
        </div>

      </div>

            <div class="rightPart" style="width:400px;height:200px">
                <ul class="list-group" style="font-size:100%; margin-left:10px; height:200px;  overflow: scroll;">
                    <!--Name-->
                    <li class="list-group-item" style="text-align:left;" ng-repeat="currItem in WhatsAppData.lsttags">
                        <div>
                            <b> {{$index +1}})</b><span>{{currItem.Text}}</span>
                        </div>
                    </li>
                    <!--Location-->
                </ul>
            </div>
        </div>

    </div>
    <br />
</div>