<style>
    .usertb {
        width:150px !important;
    }
    .pas {
        width:150px !important;
        border: 1px solid #c2ced8;
        background: #fff;
        border-radius: 3px;
        padding: 7px 10px;
        font-size: 11px;
    }
</style>
<div class="container">
    <input class="usertb" type="text" ng-model="vm.username">
    <input class="pas" type="password" ng-model="vm.password">
    <input type="button" value="Login" ng-click="vm.login()">
</div>
