﻿<div class="fpopup fpopup1">
    <div class="popupNavigation">
        <md-button class="closeButton" ng-click="closeViewer()">
            <md-icon class="x-close"></md-icon>
        </md-button>

        <md-button class="nextButton" ng-if="allResources.length > 1" ng-click="nextResource()">
            <md-icon class="x-navigate_next"></md-icon>
        </md-button>

        <md-button class="prevButton disabled" ng-if="allResources.length > 1" ng-click="prevResource()" style="left: 37%!important;">
            <md-icon class="x-navigate_before"></md-icon>
        </md-button>
    </div>

    <div class="feedBackPop popInner mediaViewer">

        <div class="dtbl">
            <div class="dtd leftSide">

                <div class="dtbl">
                    <div class="dtd leftSide wd-per35">
                        <div class="newsDetail2">
                            <header>
                                <figure>
                                    <img ng-src="{{'http://10.3.12.119/api/Resource/getthumb/'+selectedResource.Guid}}">
                                </figure>
                                <h3>{{Resources.Cateogry}}</h3>
                                <h3>{{Resources.Location}}</h3>
                                <p class="btmline">{{Resources.Caption}}</p>
                            </header>
                            <section>
                                <div class="scrollDv" ng-scrollbars>
                                    <!--<article>
                                        <p>KARACHI: Law enforcement agencies said on Monday they have arrested a Muttahida Qaumi Movement (MQM) worker for allegedly attacking ARY News bureau office in Karachi in August, ARY News reported.</p>
                                        <p>At least one person was killed while several others wounded when MQM’s founder Altaf Hussain, who has been living in London for more than 20 years.</p>
                                    </article>-->
                                    <!--<span>Tags:</span>
                                    <br />-->
                                    <ul class="tagsList">
                                        <li ng-repeat="opt in Resources.ResourceMetas">
                                            <span>{{opt.Value}}</span>
                                        </li>
                                    </ul>
                                </div>

                            </section>
                        </div>
                    </div>

                    <div class="dtd rightSide">
                        <div class="mediaHolder">
                            <img ng-if="selectedResource.ResourceTypeId == 1"  ng-src="{{'http://10.3.12.119/api/Resource/getResource/'+selectedResource.Guid}}">
                            <video id="vPlayer" ng-if="selectedResource.ResourceTypeId == 2" controls="controls" autoplay="autoplay" style="width: 100%;height: 100%;">

                            </video>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
