﻿<style>
    .news-location .selection input{
        width:100% !important;
        z-index:999999 !important;
    }
    .news-location .selection li.select2-search{
         width:100% !important;
         z-index:999999 !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        float:left;
    }
</style>
<div class="inputRow onlyOne news-location" style="z-index:999999 !important;">
    <select data-placeholder="Location" class="chosen-select-deselect" style="width:100%;z-index:999999 !important;" >
    </select>
</div>