﻿<div class="inputRow multipleTokken">
    <!--ui-select2="select3Options" ng-model="select3"--> 
    <select multiple data-placeholder="Enter Entity..." class="chosen-select-deselect">
       
    </select>

</div>