﻿<div class="inputRow multipleTokken">
    <!--ui-select2="select3Options" ng-model="select3"--> 
    <select style="width:200px;" data-placeholder="Enter Tags..." class="chosen-select-deselect">
       
    </select>

</div>