body{color:@baseTxtColor; background:@bodyBg; font-family: @baseFontFamily; font-size:@baseTxtSize;}
.container{margin:0 auto; position:relative; width:100%;}
.container:after{content:"";display:table;clear:both}
img, a{margin:0px; padding:0px; outline:none !important;}
a{color:@baseLink; text-decoration:none; &:hover{color:@baseLinkHover; text-decoration:none;} &:active{ text-decoration: none; } &:focus{ text-decoration: none; } }
#overlay{position:fixed; width:100%; height:100%; left:0; top:0; background:#000; opacity:0.8;filter:alpha(opacity=80); z-index:1000; display:none;}
figure{
  position:relative; border-radius:50%; background-repeat: no-repeat; background-position: top center; background-size: cover;    overflow: hidden; font-family: 'xicons'; .para(#97a4bb,22px,0,0); text-align: center; line-height: 37px;
  img{width:100%; height:auto;}
  &[data-imgsrc] {
    &:before{ position: absolute; left: 0; top: 0; right:0; bottom: 0; z-index: 1; content: "\e903"; background-color: #d7dee4;}
  }
  &[data-imgsrc]:not([data-imgsrc=""]):before{display:none}
}
.posRel{ position: relative; }
hr{ border-color: @borderColor; }

input[type="text"], textarea,input[type="email"]{ border: 1px solid #c2ced8; background: #ffffff; border-radius: 3px; padding: 7px 10px; width: 100%; font-size: 11px; }
textarea{ resize: none; }

::selection{background:@blueColor; color:#fff; text-shadow:none;}
::-webkit-scrollbar {width:4px;}
::-webkit-scrollbar-button:start:decrement,	::-webkit-scrollbar-button:end:increment  {display:none;}
::-webkit-scrollbar-track-piece  {background: #eaeaeb; border: 0;}
::-webkit-scrollbar-thumb {	background-color: rgba(51, 51, 51, 0.498039); border-radius: 4px;}
::-webkit-scrollbar-thumb:vertical {-webkit-border-radius:0px;	background-color: rgba(51, 51, 51, 0.498039);}

#jqcheck{
  background:#fff9d7; text-align:center; color:#333; padding:10px 0px; font-size:13px; font-weight:bold; width:100%;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
  &:after{content:"Javascript is disabled. Please enable it for better working experience.";}
  i{
    color: #ffb60b; display: inline-block; vertical-align: middle; position: relative; font-style: normal;overflow: visible; width: 24px; border-bottom: 2px solid; border-radius: 0 0 4px 4px; margin: 19px 2px 6px;
    &:before {content: ''; pointer-events: none; position: absolute; width: 20px; height: 20px; left: 1px; top: -11px; border-width: 2px 0 0 2px; border-style: solid; border-radius: 4px 0; -webkit-transform: rotate(45deg) skew(12deg,12deg); -ms-transform: rotate(45deg) skew(12deg,12deg); transform: rotate(45deg) skew(12deg,12deg);}
    &:after {content: ''; pointer-events: none; width: 3px; height: 3px; top: -12px; box-shadow: inset 0 0 0 30px,0 3px,0 8px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
  }
}
.allicons{
  > div{
    display: inline-block; width: 50px; height: 50px; border: 1px solid #333; margin: 5px; text-align: center; border-radius: 5px; .trans;
    &:after{.icocenter;}
    i{font-size: 30px; color: #333; vertical-align: middle; .trans;}
    &:hover{
      background: #333;
      i{
        color: #fff;
        &:after{content:attr(class); text-align: center; position: absolute; left: 0px; bottom: 10px; width: 100%; font-size: 15px; color: #333;    background: #ffffff; padding: 10px; box-sizing: border-box;}
      }
    }
  }
}
[class*=icon-]{	font-family: @iconFontFamily; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.fullHeight{ min-height: 100vh; }
.dtbl{
  display: table; width: 100%; table-layout: fixed;
  .dtd{display: table-cell; vertical-align: top;}
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

[class^="box-"].showfirst{display:block;}
[class^="box-"].boxActive{display:block;}
[class^="box-"]{display:none;}
.disTable{
  display: table;width: 100%;height: 100%;
  .disCell{display: table-cell;vertical-align: middle;}
}

.addScroll{
  max-height: 100%;
  .mCSB_inside>.mCSB_container{
    margin-right: 0;
  }
  .mCustomScrollBox{
    max-width: 100%;
    width: 100%;
    padding-right: 0;
  }
  .mCSB_scrollTools{
    right: -6px;
    .mCSB_dragger{
      .mCSB_dragger_bar{
        background-color: #d9dfe9;
        width:6px;
      }
    }
    .mCSB_draggerRail{
      width:6px;
      background-color:transparent;
    }
  }
  .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
  .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{background-color:#cacfd8;}
  .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical,
  .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical{right: -5px;}
}
.spacingRow{height: 10px;background: #e6eaf0;}
.hideTxt{display: none;}

#jqcheck{
  background:#fff9d7; text-align:center; color:#333; padding:10px 0px; font-size:13px; font-weight:bold; width:100%;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
  &:after{content:"Javascript is disabled. Please enable it for better working experience.";}
  i{
    color: #ffb60b; display: inline-block; vertical-align: middle; position: relative; font-style: normal;overflow: visible; width: 24px; border-bottom: 2px solid; border-radius: 0 0 4px 4px; margin: 19px 2px 6px;
    &:before {content: ''; pointer-events: none; position: absolute; width: 20px; height: 20px; left: 1px; top: -11px; border-width: 2px 0 0 2px; border-style: solid; border-radius: 4px 0; -webkit-transform: rotate(45deg) skew(12deg,12deg); -ms-transform: rotate(45deg) skew(12deg,12deg); transform: rotate(45deg) skew(12deg,12deg);}
    &:after {content: ''; pointer-events: none; width: 3px; height: 3px; top: -12px; box-shadow: inset 0 0 0 30px,0 3px,0 8px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
  }
}