.container-fluid{ padding-left: 10px; padding-right: 10px; }
.wrap{ overflow: hidden; padding-top: 50px; }
header{ padding: 10px 0; background: #ffffff; position: fixed; width: 100%; top: 0; z-index: 10; box-shadow: 0 0 1px 1px rgba(205, 205, 205, 0.35);
  .logo{display: block;padding-right: 20px;}
  nav{ font-family: @MonFontFamily;font-weight: 400;
    ul{ border-left: 1px solid @borderColor; margin: 4px 0 0 -15px; padding-left: 5px;
      li{ display: inline-block;padding: 0 15px;
        a{ display: block; .para(#697fa0,11px,0,4px 0); text-transform: uppercase;position: relative;
          i{ .para(#6a80a0,13px,0 10px 0 0,0); }
          &:hover,&.active{
            color:#697fa0;
            &:before{content: "";position: absolute;left:0;bottom:-16px;height: 2px;background:#c41301;width: 100%;}
          }
        }
      }
    }
  }
  .profileView{
    text-align: right;
    h3{ .para(#697fa0,11px,0,0); font-weight: 500; display: inline-block; vertical-align: middle; }
    figure{ width: 30px; height: 30px; display: inline-block; vertical-align: middle;    margin-left: 10px;  }
    i{  display: inline-block; vertical-align: middle; .para(#a2b0c4,16px,0 0 0 5px,3px); cursor: pointer; }
  }
}
.content{ margin:0 10px; border-radius: 3px; overflow: hidden; box-shadow:0 0 4px 3px rgba(0, 0, 0, 0.13);
  background: #ffffff;
  .col-md-6{ padding-right: 0; }
  .col-md-6+.col-md-6{ padding-right: 15px; padding-left: 0; }
}
.topBar{ .clearafter; background: #697fa0; padding:8px 390px 8px 20px; position: relative; border-bottom: 1px solid @borderColor;
  h2{ .para(#fff,11px,0,0); display: inline-block; vertical-align: middle; font-family: @MonFontFamily; text-transform: uppercase;line-height: 23px;
    span{ .para(@borderColor,11px,-2px 0 0 5px,0); display: inline-block; vertical-align: middle; }
  }
  .searchDrop{ background: #fff; overflow: hidden; border: 1px solid @borderColor; border-radius: 3px; position: absolute; right: 17px; top: 0; bottom: 0; margin: auto; height:24px;width: 160px;
    input{ background: none; .para(#697fa0,11px,0,6px 34px 4px 10px); border: 0; font-weight: 500;border-radius: 0; }
    i{ position: absolute; right: 10px; top: 5px; .para(#899ab4,13px,auto,0)}
  }
  .searchArea{display: inline-block; width: 200px; margin:auto; position: absolute; right: 182px; top: 0px; padding: 0;height: 24px;width: 200px;border: 1px solid @borderColor;border-radius: 3px;overflow: hidden;bottom: 0;
    input{background:#fff;.para(#697fa0,11px,0,6px 25px 4px 30px); border: 0; font-weight: 500;border-radius: 0; }
    i{ position:absolute;.para(#899ab4,12px,auto,0);
      &.magnifyIcon{left:10px;top:5px;}
      &.closeIcon{right:10px;top:5px;font-size: 7px;}
    }
  }
}
.dataList{
  margin: 0;
  >li{
    background: #fbfcfe; padding:18px 60px 18px 90px; border-bottom: 1px solid @borderColor; border-right: 1px solid @borderColor; position: relative; box-shadow:-15px -1px 15px -18px #bfbfbf inset;
   figure{
     width: 50px; height: 50px; font-size: 35px; line-height: 64px; position: absolute; left: 20px; top: 10px;
   }
    h3{ .para(#3e4c64,15px,0,0); font-weight: 500; }
    ul{
      margin-top: 2px;position: relative;
      li{ display: inline-block; border-left: 1px solid @borderColor; .para(#6f81a0,11px,0 0 0 10px,0 0 0 10px); min-width: 100px;max-width: 100px; .ellipsis;
        &:first-child{ padding-left: 0; margin-left: 0; border-left: 0; }
        &.alternate{
            text-overflow:inherit;max-width: inherit;
          span{.para(#fff,9px,0 0 0 30px,0);text-transform: uppercase;font-family:@MonFontFamily;font-weight:400;background: #d9dfe9;width:63px;height: 12px;border-radius: 3px;line-height: 12px;text-align: center;border: 0;display: inline-block;vertical-align: top;}
        }
      }
    }
    >i{ position: absolute; .para(#788caa,24px,auto,0); right: 20px; top: 0; bottom: 0; height: 25px; }
    &.active{
      background: #ffffff; border-right: 1px solid transparent; box-shadow: none;
    }
    &:hover{
      background: #ffffff; cursor: pointer;
    }
    &.dateRow{background: #d6deea;.para(#697fa0,11px,0,8px 20px);font-weight: 500;font-family:@baseFontFamily;}
  }
}
.detailsSec{
  position: relative;
  .time{
    position: absolute; right: 30px; top: 30px;
    .para(#b5c3d8,13px,0,0); font-weight: 500;
    span{
      color: #788caa; padding-left: 5px;
    }
  }
  .topHead{
    text-align: center;
    padding: 30px 0 0 0;
    figure{ width: 110px; height: 110px; font-size: 90px; line-height: 130px; margin: 0 auto; }
    h2{ .para(#788caa,24px,15px 0 0 0,0); font-weight: 300; }
    h3{ .para(#788caa,13px,5px 0 0 0,0); font-weight: 500; }
    h4{ .para(#3e4c64,13px,5px 0 0 0,0); font-weight: 500; }
  }
  .infoSec{
    padding: 0 30px 20px 30px; .clearafter;
    .addBdr{ border-right:1px solid @borderColor }
    ul{
      text-align: left;margin: 0;
      >li{ .para(#3e4c64,13px,0,2px 0 2px 150px);font-weight: 500; line-height: 20px; position: relative;
        label{ .para(#788caa,13px,0,0 5px 0 0); font-weight: 500; width: 125px; position: absolute; left: 0; top: 5px; }
        p{ margin: 0; }
        &:first-child{margin-bottom: 10px;}
      }
    }
    h6{ .para(#b5c3d8,13px,0,0);font-weight:500;}
    .callToAction{
      padding-top: 5px;
      button{ width: 34px; height: 34px; border-radius: 50%; display: inline-block; .para(#fff,20px,0 2px 0 0,0); border: 1px solid transparent;
        &.closeit{background: #a90d0d;
          &:hover{ background: #ffffff; color: #a90d0d; border-color: #a90d0d; }
        }
        &.checkit{background: #3d9919;
          &:hover{ background: #ffffff; color: #3d9919; border-color: #3d9919; }
        }
      }
    }
    select{ background: #ffffff; border:1px solid #d9dfe9; .para(#697fa0,11px,7px 0 0 0,5px 10px 5px 5px); font-weight: 500;    width: 100%; border-radius: 3px; background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 50%, #f3f3f3 100%); background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 50%,#f3f3f3 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 50%,#f3f3f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); }
  }
  .topListing{
    ul{
      li{
        position: relative;border-top: 1px solid #697fa0;padding:39px 0 17px 0;font-family: @baseFontFamily;margin-left:30px;
        .statusDv{.para(#fff,11px,0,0);position: absolute;left: 0;top:0;width: 90px;height:20px;text-align: center;line-height: 20px;text-transform: uppercase;font-weight: 700;font-family:@MonFontFamily;background: #697fa0;border-radius: 0px 0px 3px 3px;}
        .topListBox{position: relative;padding-left: 150px;
          figure[data-imgsrc]{width:110px;height:110px;border-radius: 100%;position: absolute;left: 0;top:0px;
            &:before{font-size:88px;line-height: 130px;}
          }
          h2{.para(#3e4c64,24px,0 0 9px 0,0);font-weight: 300;}
          h3{.para(#3e4c64,13px,0 0 15px 0,0);font-weight:500;line-height: 18px;
            a{color:#3e4c64;
              &:hover{color:#2d96e6;}
            }
          }
          h4{.para(#788caa,11px,0 0 15px 0,0 0 7px 0);font-weight: 500;position: relative;display: inline-block;
            &:before{content: "";position: absolute;left: 0;bottom: 0;width: 90%;height:2px;background: #788caa;}
          }
          p{.para(#3e4c64,11px,0,0);font-weight: 400;line-height: 18px;
            .moreBtn{color:#2d96e6;cursor: pointer;
              &:hover{text-decoration: underline;}
            }
          }
          i{.para(#697fa0,11px,0,0);width:34px;height:34px;border-radius:100%;border:2px solid #697fa0;text-align: center;line-height: 30px;position: absolute;top:0px;right:30px;cursor: pointer;
          &.x-close{font-size:22px;
            &:hover{background: #ff0000;border-color:#ff0000;color:#fff;}
          }
          &.x-check{font-size:22px;right: 69px;
            &:hover{background: #00bf54;border-color:#00bf54;color:#fff;}
          }
        }
          & ~ .topListBox{margin-top: 25px;}
        }
        &.alternateUser{
          figure[data-imgsrc]{width:80px;height:80px;
            &:before{font-size:60px;line-height: 100px;}
          }
          h2{font-size:18px;}
          h3{font-size:11px;line-height:16px;}
        }
      }
    }
  }
}

.pending{ background: #ff9900; .para(#fff,11px,0,3px 10px 3px); border-radius: 4px; text-align: center; display: inline-block;  text-transform: uppercase; font-family: @MonFontFamily; font-weight: 600;vertical-align: top;min-width: 70px;height: 18px; }
.updateit{ background: #2d96e6; .para(#fff,11px,10px 0 0 0,6px 10px 5px); border-radius: 4px; text-align: center; display: block; font-weight: 500; border: 0;    width: 100%; }
.blankScreen{ padding: 150px 30px; text-align: center;
  i{
    .para(#d9dfe7,130px,0 0 15px 0,0);    display: block;
  }
  h5{
    .para(#697fa0,24px,0 0 5px,0); font-weight: 300;
  }
  h6{
    .para(#697fa0,18px,0,0); font-weight: 300;
  }
}


.ui-datepicker td span, .ui-datepicker td a{ text-align: center; }

.ui-widget.ui-widget-content { font-family: @baseFontFamily;    padding: 15px; font-weight: 500; border: 0; background: #ffffff; box-shadow: 0 0 1px 1px rgba(205, 205, 205, 0.41); border-radius: 0; }
.ui-datepicker .ui-datepicker-header{     background: none;
  border: 0; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 25px; text-align: center; background: rgba(217, 223, 233, 0.39); color: #788087; border-radius: 18px; font-size: 12px; font-weight: 500;
}
.ui-datepicker th{ color: #788087;font-weight: 500; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus{
  border: 0; background: none;
}
.ui-datepicker .ui-icon{ font-size: 0; }
.ui-icon, .ui-widget-content .ui-icon {  background-image: url(../jquery-ui/ui-icons_222222_256x240.png); }
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}
.ui-state-default, .ui-widget-content .ui-state-default{ border: 0; background: rgba(205, 205, 205, 0.15); font-weight: bold; color: #697fa0; border-radius: 50%; font-size: 10px; line-height: 16px; width: 20px; height: 20px;
}
.ui-state-active, .ui-widget-content .ui-state-active{ border: 0; background: #2d96e6; color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ color: #697fa0; border: 1px solid #2d96e6; background: none;
}

body.showSidebar{
  .rightSideBar{right: 0;.trans(.9s)}
}
.overlay{position: fixed;left: 0;top:0;right: 0;bottom: 0;z-index: 10;display: none;}
.rightSideBar{
  background: #697fa0;width:225px;height: 100vh;position: fixed;right: -100%;top: 0;z-index: 11;box-shadow: 15px -1px 15px 18px #bfbfbf;font-family: @baseFontFamily;padding:0 20px;.trans(.9s);
  h2{
    .para(#fff,24px,0,0);font-weight: 300;
    span{display: block;font-size: 11px;color:#b5c3d8;margin-bottom: 5px;font-weight: 500;line-height: normal;}
  }
  hr{margin:20px 0;border-color: #3b5782;}
  .callToAction{
    position: relative;padding-right:85px;height: 34px;
    label{.para(#b5c3d8,11px,11px 0 0 0,0);font-weight: 500;}
    button{
      .para(#ffffff,22px,0,0);width:34px;height:34px;border-radius:100%;border:2px solid #ffffff;text-align: center;line-height: 33px;position: absolute;top:0px;right:0px;cursor: pointer;background: none;
      &.checkit{right:39px;
        &.active,&:hover,&.boxActive{
          background: #00bf54;border-color:#00bf54;
        }
      }
      &.closeit{
        &.active,&:hover,&.boxActive{
          background: #ff0000;border-color:#ff0000;
        }
      }
    }
  }
  p{.para(#b5c3d8,11px,0 0 10px 0,0);font-weight: 500;}
  select{.para(#697fa0,11px,0 0 10px 0,0);font-weight: 500;height:24px;border: 1px solid @borderColor; border-radius: 3px;width:100%;}
  button{
    .para(#ffffff,11px,0,0);height: 24px;line-height: 24px;text-align: center;font-weight: 500;background: #ffffff;width:100%;
    &.updateit{background: #2d96e6;}
  }
  textarea{.para(#697fa0,11px,0 0 10px 0,9px);height: 104px;border: 1px solid @borderColor; border-radius: 3px;width:100%;font-weight: 500;}
}