/* -------------------------Reset------------------------- */
*{margin:0px; padding:0px; outline:none; box-sizing: border-box;  }*, :hover, :active, :focus{outline: none;}body{line-height:1.5}blockquote:before,blockquote:after,q:before,q:after{content:""}a img{border:none}:focus{outline:none}.noborder{border:none!important}.noborder-bottom{border-bottom:none!important}.nobg{background:none!important}p{text-align:left;margin-bottom:5px}a,img,fieldset{border:none;outline:none}a{color:#fff;text-decoration:none}a:hover{color:#ccc;text-decoration:underline}h1,h2,h3,h4,h5,h6{font-weight:400;margin-bottom:5px}.red{color:red}.dnone{display:none !important;}ol.decimal{list-style:decimal;padding-left:10px;margin:10px 0 10px 10px}ol.decimal li{list-style:decimal}ul.disc{list-style:disc;padding-left:10px;margin:10px 0 10px 10px}ul.disc li{list-style:disc}.rfl{float:right}.lfl{float:left}.clear{clear:both}.clear:after{content:"";display:table;clear:both}.rfl-force{float:right!important}.lfl-force{float:left!important}.clear-force{clear:both!important}.nomar{margin:0!important}.nopad{padding:0!important}.pad10px{padding:10px!important}.mar10px{margin:10px!important}.rel{position:relative}.abs{position:absolute}.allft{text-align:left!important}.alrit{text-align:right!important}.alctr{text-align:center!important}ul,li,ol,ol,ul,li{list-style:none}.text-left{text-align: left!important;}.text-right{text-align: right!important;}
/* -------------------------Reset------------------------- */

/* ---------------------Google Fonts---------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400,500,700,900');

/* -------------------------Vars------------------------- */

@baseFontFamily: 'Roboto', sans-serif;
@MonFontFamily: 'Montserrat', sans-serif;
@iconFontFamily: 'xicons' !important;
@baseTxtSize: 11px;
@baseTxtColor: #6f81a0;
@bodyBg: #e6eaf0;
@baseLinkHover: #3e4c64;
@baseLink: #697fa0;
@blueColor: #c41301;
@headColor1: #596874;
@borderColor: #d9dfe9;

/* -------------------------Vars------------------------- */