.editorBox .langSwitch{
  &.lang-1 li.urduDv,
  &.lang-2 li.engDv{color: #fc6068;}
}

dropdown.selectCustom{
  .select2-container--default {
    .select2-selection--single {
      height: auto; min-height: inherit;
      .select2-selection__rendered{ display: block; padding: 0; .para(#ababb3, 12px, 0, 13px 15px 14px); }
      .select2-selection__arrow{display: none;}
      &:before { content: "\e5cf"; color: #9ea8b2; font-size: 17px; line-height: 18px; margin: 0; padding: 0; position: absolute; right: 20px; font-family: @iconFontFamily; top: 13px; z-index: 0; }


      .select2-selection__choice{ margin: 0; background-color: transparent; border: 0; border-radius: 0; width: 100%; font-size: 12px; color: @headColor3; padding: 10px 35px 10px 10px; line-height: 13px; position: relative; }
      .select2-selection__choice__remove{ position: absolute; right: 10px; top: 8px; font-size: 16px; padding-top: 1px; display: block; width: 18px; height: 18px; border-radius: 50%; background: #a5a5ae; text-align: center; font-weight: 300; color: #f2f2f4; margin: 0; box-sizing: border-box; }

    }
  }
}


.topBar{
  .select2-container--default {
    .select2-selection--single {
      height: auto; border:none; border-radius: 0; min-height: inherit;
      .select2-selection__rendered{ display: block; padding: 0; .para(#ababb3, 12px, 0, 13px 15px 14px); }
      .select2-selection__arrow{display: none;}
      &:before { content: "\e5cf"; color: #9ea8b2; font-size: 17px; line-height: 18px; margin: 0; padding: 0; position: absolute; right: 20px; font-family: @iconFontFamily; top: 16px; z-index: 0; }


      .select2-selection__choice{ margin: 0; background-color: transparent; border: 0; border-radius: 0; width: 100%; font-size: 12px; color: @headColor3; padding: 10px 35px 10px 10px; line-height: 13px; position: relative; }
      .select2-selection__choice__remove{ position: absolute; right: 10px; top: 8px; font-size: 16px; padding-top: 1px; display: block; width: 18px; height: 18px; border-radius: 50%; background: #a5a5ae; text-align: center; font-weight: 300; color: #f2f2f4; margin: 0; box-sizing: border-box; }

    }
  }
}
.mgrDetil {
  height: calc(~"100vh - 111px");
  .inner>article .prog-seg li.stry.has-data{background: #fff;}
}

.feedBackPop{
  .newsDetail2>section .scrollDv {
    height: 415px;
  }
  &.mediaViewer .mediaHolder{height: calc(~"100vh - 108px");}
}

image-viewer{
  .fpopup{
    .popInner{margin: 0;}
    .popupNavigation{
      .md-button{z-index: 10; opacity: 0; .trans;}
    }
    &:hover .popupNavigation .md-button{opacity: 1;}
  }
  .feedBackPop.mediaViewer{
    .newsDetail2>section .scrollDv{height: 275px;}
    .mediaHolder { height: calc(~"100vh - 132px"); }
  }
}

.mgrDetil .inner h5 .slottime{display: inline-block; margin-left: 5px; font-size: 9px; letter-spacing: 1px;}
.mgrDetil .inner>article .prog-seg li{
  margin-bottom: 25px;
  >p.slottime{position: absolute; left: 0; top: 100%; width: 100%; padding: 4px 0px 0px; text-align: right;}
}


