/* LESS Document */
.progMngr{
	background: #fff;
	//.lftShad{box-shadow: 20px 10px 25px -20px #ccc inset;}
	> .dtbl {
		>.dtd {
			&.vMiddle { vertical-align: middle; }
			.topBar{border-bottom: 1px solid @borderColor1;}
			+.dtd{
				.topBar{ border-left: 1px solid @borderColor1; background: #fff;}
			}
		}
	}
	.footerButs{
		padding: 15px 20px; text-align: right; box-shadow: 0px -4px 4px -2px #ccc; position: relative; z-index: 2;
		.reportButton{padding: 6px 40px 6px 20px;}
		&.disabled{
			.reportButton{
				opacity: 0.6;
				&.grey{ background: #ddd; color: #333; }
			}
			&:before{content:''; .fxdcenter(absolute); z-index: 2;}
		}
	}
  .delprogram{
    position: absolute; left: 0; right: 0; bottom: 0; text-align: center; padding: 10px 0px; background: #eee; opacity: 0.7; display: none;
    i{.para(@headColor1, 30px, 0, 0px);}
  }
  .blankScreen{
    padding:30vh 0px 0px; text-align: center; bottom: inherit;
    md-icon{ .para(#d4d4e0, 80px,0,0); }
    span{ .para(#d4d4e0, 15px,15px 0 0 0,0); display: block; }
  }
}

.mgrDetil{
	height: calc(~"100vh - 181px"); overflow: auto; .trans; background: #fafafb; box-shadow: 20px 10px 25px -20px #ccc inset;
	.inner{
		padding: 0px 20px 10px;
		.dtd{vertical-align: middle;}
		h5{
			.para(#5a6268, 11px, 0 0 8px, 0px); text-transform: uppercase;
			strong{margin-left: 5px; color: #333;}
		}
		> article{
			padding: 10px 0; border-bottom: 1px solid @borderColor1;
			.prog{
				figure{
					border-radius: 50%; overflow: hidden; width: 30px; height: 30px;
					img{width: 150%; position: absolute; left: -11px; top: -2px; height: 114%;}
				}
				p{
					.para(#8c8c97, 13px, 0 0 1px, 0px);
					+p{.para(#9ea8b2, 11px, 0, 0px);}
				}
			}
			.prog-vid{
				.clearafter; .noselect;
				figure{
					float: left; margin: 0px 6px 6px 0px; width: 73px; height: 40px; position: relative; overflow: hidden; border-radius: 3px;
					img{margin: 0 0 -4px;}
					&:after{font-family:@iconFontFamily; content: "\e905"; background: rgba(0,0,0,0.7); position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 20px; text-align: center; padding-top: 6px; color: #fff;}
				}
				> div{
					display: inline-block; width: 73px; height: 40px; position: relative; background: #fff; border:2px dashed #ced2d5; border-radius: 3px;
					&:after{font-family:@iconFontFamily; content: "\e905"; position: absolute; left: 0; right: 0; top: 0; bottom: 0; font-size: 20px; text-align: center; padding-top: 3px; color: #ced2d5;}
				}
			}
			.prog-seg{
				padding-left: 25px;
				li{
					position: relative; margin:0 30px 10px 0; background: #e1e1e5; border-bottom: 2px solid #d6d6dd; border-radius: 3px; .trans;
					>p{ .ellipsis; .para(#8c8c97, 11px, 0, 8px 20px); padding-left: 30px;}
					>i{ position: absolute; left: -20px; top:2px; .para(#ceced3, 17px, 0, 0px); }
					>a{
						position: absolute; right:0px; top:0px; bottom: 0; padding: 7px 4px;
						&:hover{text-decoration: none;}
						i{.para(#92929e, 15px, 0, 0px);}
					}
					&.urdulang{
						>p{.urdu-nafees; font-weight: bold; font-size: 10px;}
					}
					>.cmntcount{
						//position: absolute; right: -5px; top: -7px; .para(#fff, 9px, 0, 3px 0px); min-width: 15px; text-align: center; background:#ccc; border-radius: 50px;
						position: absolute; right: -28px; top: 3px; width: 20px; text-align: center;
						span{ .para(@bg-blue, 11px,0,0); }
						md-icon{ position: absolute; right: 0px; top: 1px; text-align: center; .para(@bg-blue, 19px,0,0); line-height: 21px; }
						&.new{}

					}
					&:before {
						content: "\e929"; font-family: @iconFontFamily; .para(@bg-blue, 15px, 0, 2px); border-radius: 50px; position: absolute; left: 6px; top: 4px;
					}
					.hov{
						position: absolute; left: 0px; top: 100%; width: 100%; background: #fff; opacity: 0; padding: 5px 5px; border-top: 1px solid @borderColor1; .trans;
						figure{
							border-radius: 50%; overflow: hidden; width: 30px; height: 30px; position: absolute; left: 10px; top: 5px;
							img{width: 150%; position: absolute; left: -11px; top: -2px; height: 114%;}
						}
						p{.ellipsis; .para(#8c8c97, 11px, 0, 8px 5px); padding-left: 45px;}
					}
					&.stry{
						cursor: pointer; background: #ebebed;
						/*&:hover{
							z-index: 5; background: #fff;
							.hov{opacity: 1;}
						}*/
					}
					&.done{
						border-bottom-color: #64ab9f;
						&:before{content: "\e5ca"; background: #7edac7; .para(#fff, 11px, 0, 2px); left: 8px; top: 7px;}
					}
				}
			}
		}
		>header{
			background: #ebebed; padding: 8px 20px; margin: 0px -20px;
			h5{margin: 0px;}
		}
	}
}

.progList{
	height: calc(~"100vh - 123px");
	section{
		padding: 0 0 20px;
		>header{
			margin: 0 0px 10px; padding: 10px 15px; background: #f7f7f7;
			p{.para(#5a6268, 12px,0,0);}
		}
		>article{
			margin: 0 0px; padding: 5px 15px; cursor: pointer; color: @baseTxtColor;
			>*{.trans;}
			p{.para(inherit, 12px,0,0); line-height: 15px;}
			span{.para(inherit, 12px,0,0);}
			&:hover{background: #fafafa;}
			&.active{color: @headColor1;}
		}
	}
}
